@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
*{
    font-family: "Ubuntu Sans", sans-serif;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #f2b705;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.cart, .cart-summary {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart {
    width: 60%;
}


.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.item-details {
    flex-grow: 1;
}