.banner {
    background: linear-gradient(to right,  #f8f400, #ffa621);
    padding: 15px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; /* Tamanho da sua logo */
    margin-right: 10px;
}

/* Restante do seu estilo CSS aqui */
.faq-container {
    max-width: 650px; 
    margin: 0 auto; 
    border: 1px solid #ffa621;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFF8E1;
    box-shadow: 0 4px 8px rgba(60, 60, 60, 0.1);
    padding: 10px;
}


.faq-item {
    border-bottom: 1px solid #ffa621;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    background-color: #ffffff;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    color: #323232;
    border-radius: 5px;
    margin-bottom: 10px;
}

.faq-question:hover {
    background-color: #ffffff;
}

.faq-answer {
    display: none;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    animation: fadeIn 0.5s;
}

.arrow {
    font-size: 1.2em;
    transition: transform 0.3s ease;
}

.faq-item.open .arrow {
    transform: rotate(180deg);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body {
    font-family: Calibri, sans-serif;
}

h1 {
    font-family: Arial, sans-serif;
    
    
}
