body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Calibri, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}

main {
    flex: 1;
    padding: 20px;
    margin-right: 220px; /* Adiciona espaço para o banner */
}

.banner {
    background: linear-gradient(to right, #f8f400, #ffa621);
    padding: 15px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; /* Tamanho da sua logo */
    margin-right: 10px;
}

.faq-container {
    max-width: 650px; 
    margin: 0 auto; 
    border: 1px solid #ffa621;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFF8E1;
    box-shadow: 0 4px 8px rgba(60, 60, 60, 0.1);
    padding: 10px;
}

.faq-item {
    border-bottom: 1px solid #ffa621;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    background-color: #ffffff;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    color: #323232;
    border-radius: 5px;
    margin-bottom: 10px;
}

.faq-question:hover {
    background-color: #ffffff;
}

.faq-answer {
    display: none;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    animation: fadeIn 0.5s;
}

.arrow {
    font-size: 1.2em;
    transition: transform 0.3s ease;
}

.faq-item.open .arrow {
    transform: rotate(180deg);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: Calibri, sans-serif;
}

h1 {
    font-family: Arial, sans-serif;
}

.banner-ad {
    position: fixed;
    top: 110px; /* Ajuste conforme necessário */
    right: 0;
    width: 200px;
    height: 900px; /* Ajuste a altura aqui */
    background-color: #f0f0f0;
    border-left: 0px solid #ccc;
    padding: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-ad img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz o GIF se ajustar ao container mantendo a proporção */
    object-position: center; /* Centraliza o GIF dentro do container */
}




